black==23.9.1
chiavdf @ file:///home/maple3142/Projects/chaivdf
click==8.1.7
gmpy2==2.1.5
mypy==1.6.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pycryptodome==3.19.0
typing_extensions==4.8.0
